@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600&family=Roboto:wght@400;700&display=swap');

:root {
    box-sizing: border-box;
    --white: #f2f2f2;
    --green: #21673d;
    --black: #131313;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--white);
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid; 
    grid-template-columns: 280px 4fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    background-color: var(--black);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
}

.header .top-header {
    width: 100%;
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-around;
}

.top-header .search-bar {
    display: flex;
    width: 700px;
    gap: 10px;
    height: 100%;
    align-items: center;
}

.search-bar .search-bar-input {
    flex-grow: 1;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 5px;
    background-color: #1c1c1c;
}

.search-bar-input:focus {
    background-color: var(--white);
}

.search-button {
    background-color: transparent;
    border: none;
}

.small-profile {
    width: 50px;
    border-radius: 100vh;
}

.top-header .top-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.bot-header {
    display: grid;
    grid-template-columns: 150px 2fr 1fr;
    align-items: center;
    gap: 30px;
}

.bot-header img {
    width: 100px;
    border-radius: 100vh; 
    margin-left: 50px;
}

.bot-header .greeting {
    font-size: 1rem;
}

.greeting .user {
    font-size: 2.5rem;
    font-weight: 700;
}

.bot-header .buttons {
    display: flex;
    justify-self: center;
    gap: 25px;
}

.buttons button {
    width: 100px;
    height: 35px;
    border-radius: 50px;
    background-color: var(--green);
    color: var(--white);
}

.buttons button:hover {
    font-weight: 700;
}

.sidebar {
    background-color: var(--green);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: .4fr .8fr 2fr;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.sidebar .title,
.title-logo {
    grid-row: 1 / 2;
    align-self: center;
}

.sidebar .title-logo,
.sidebar .top-logos,
.sidebar .bot-logos {
    justify-self: center;
}

.sidebar .top-dash, 
.sidebar .top-logos {
    grid-row: 2 / 3;
}

.sidebar .bot-dash,
.sidebar .bot-logos {
    grid-row: 3 / 4;
}

.sidebar .title {
    font-size: 32px;
    font-family: 'Archivo', sans-serif;
}

.sidebar .top-dash,
.sidebar .bot-dash {
    font-size: 20px;
}

.top-dash li,
.bot-dash li {
    margin: 20px 0px;
}

.title-logo {
    width: 4rem;
}

.top-logos li,
.bot-logos li {
    margin: 15px 0;
}

.top-logos,
.bot-logos,
.search-button img,
.notification,
.logo-size {
    width: 1.5rem;
}

.sidebar img,
.search-button img,
.notification{
    filter: invert(1);
}

.main-content {
    background-color: #1c1c1c; 
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 20px;
}

.main-content .projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.content-title {
    margin-left: 30px;
    font-size: 1.5rem;
}

.projects .grid-container {
    display: grid;
    overflow: auto;
    justify-content: stretch;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: .5fr repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 40px;
    padding: 15px;
}

.grid-container .card {
    width: 500px;
    height: 300px;
    background: linear-gradient(to right, var(--green) 0%, var(--green) 2%, var(--white) 2%, var(--white) 100%);
    border-radius: 20px;
    color: var(--black);
    font-size: 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
}

.card h2,
.card p {
    margin-left: 30px;
}

.card h2 {
    margin-top: 50px;
}

.card ul {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 20px;
    margin: 20px;
}